<section class="container mx-auto">
  <h2 class="text-3xl font-bold mb-2">Houses</h2>
  <h3 class="text-xl text-gray-500 mb-2">{{ 3 }} houses available</h3>
</section>

<section
  class="container mx-auto grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2"
>
  @for(house of houses(); track house.id; let i = $index) {
  <!-- Card -->
  <!-- Use overflow-hidden to add rounded borders on top of mini-map -->
  <div class="card bg-primary-content shadow-xl overflow-hidden">
    <mini-map [lngLat]="house.lngLat" [zoom]="12" />
    <div class="card-body">
      <h2 class="card-title">
        {{ house.name }}
        @if (i === 1) {
        <div class="badge badge-secondary">NEW</div>
        }
      </h2>
      <p>
        {{ house.description }}
      </p>
      <div class="card-actions justify-end">
        @for(tag of house.tags; track tag) {
        <div class="badge badge-outline">{{ tag }}</div>

        }
      </div>
    </div>
  </div>
  }
</section>
